.nopadding .padding {
	margin: 0px;
	padding: 0px;
}

.bar-header .title {
	font-size: 1.4em;
}

h1.krossware {
	color: #0095dd;
	text-align: center;
	font-size: 3em;
}

p.krossware {
	text-align: center;
	padding: 0 1em;
}

#lebuttonbar > a.button {
	font-size:1.6em;
}

table {
	font-size:1.1rem;
	line-height: 1.7rem;
	margin: 0.8em 0;
}

#ledate {
	text-align: center;
	font-size: 1.1rem;
}

.wakt {
	color: #AAA8A8;
}

.wakt.active {
	color: #000;
}

.salattimecolor {
	/*background-color: #66CC33;*/
	color:#66CC33;
	text-align: center;
}